<div class="center-container">

  <h2 class="base-text">New Invoice</h2>

  <div class="create-invoice-panel">
    <select [(ngModel)]="selectedProductId">
      <option [ngValue]="null">Select a Product</option>

      <option *ngFor="let p of products" [ngValue]="p.id">
        {{ p.code }} - {{ p.description }} - Stock: {{p.stock}}
      </option>
    </select>

    <input type="number" [(ngModel)]="quantity" />

    <button class="btn-primary" (click)="addItem()" [disabled]="isLoading">
      Add
    </button>

    <button class="btn-primary" (click)="save()" [disabled]="isLoading">
  <span *ngIf="!isLoading">Create Invoice</span>
  <span *ngIf="isLoading">Creating...</span>
</button>

<div *ngIf="isLoading" class="loader"></div>

  </div>

  <div class="product-list">
    <div *ngFor="let i of items" class="product-item">
      {{ i.description }} | Qtd: {{ i.quantity }}
    </div>
  </div>

    <button class="btn-secondary" routerLink="/invoices">Back to Invoices List</button>

    <div class="back-home-container">
  <button class="btn-secondary" routerLink="/">Back to Home</button>
</div>

</div>